* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  height: 180px;
  border: 10px solid green;
  background-color: red;
}

.container-2 {
  padding: 20px;
  margin: 30px;
  font-size: 20px;
}

.container-2 p {
  padding: 10px;
}

.container-3 {
  height: 180px;
  border: 3px solid black;
  background-color: plum;
  padding: 40px;
}

li:first-child {
  color: green;
}

li:nth-child(2) {
  color: blue;
}

li:last-child {
  color: yellow;
}

.container-4 {
  height: 180px;
  border: 5px solid maroon;
  background-color: orange;
  padding: 30px;
}

.container-4 p {
  font-size: 30px;
  margin-top: 10px
}