.principal {
  font-size: 25px;
  font-weight: bold;
  color: #280;
}

.tb1 {
  border: 1px solid black;
  width: 766px;
  height: 36px;
  background: #000033;
}

.titulo {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  background-color: #FFF;
}

.origem {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #280;
  background-color: #FFF;
}

.resumo {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #FFF;
}
